@mixin TireConfigStyles {
  .Tire {
    width: 50px;
    height: 90px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
    cursor: pointer;

    &.hover {
      transform: scale(1.5);
    }  

    &.TireWithPosition {
      background: black;
    }
  }
}

:host {
  @include TireConfigStyles;
}

ams-tire-config-viewer {
  @include TireConfigStyles;
}
